NEXT_PUBLIC_SUPABASE_URL=https://ffnibheqlgeoiliwirrs.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZmbmliaGVxbGdlb2lsaXdpcnJzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIyNzM5NjgsImV4cCI6MjA5Nzg0OTk2OH0.scHrg_EEt6HXMWW9eSrmrItDTn9kjZLVJevF0l2S45Q